@model AcompanhamentoModel;

@{
    ViewData["Title"] = "Criar Acompanhamento";
}

<div class="text-center">
    <h1>Criar Acompanhamento</h1>
</div>
    
<form asp-controller="Acompanhamento" asp-action="Criar" method="post">
    <div class="mb-3">
        <label for="Descricao" class="form-label">Descrição</label>
        <input type="text" asp-for="Descricao" class="form-control" placeholder="Digite a descrição do acompanhamento">
        @Html.ValidationMessageFor(x => x.Descricao)
    </div>

    <div class="mb-3">
        <label for="Tipo" class="form-label">Tipo</label>
        <input type="text" asp-for="Tipo" class="form-control" placeholder="Digite o tipo do acompanhamento">
    </div>

    <div class="mb-3">
        <label for="IdChamado" class="form-label">Id Chamado</label>
        <input type="text" asp-for="IdChamado" class="form-control" placeholder="Digite o IdChamado do acompanhamento">
    </div>

    <div class="mb-3">
        <label for="IdUsuario" class="form-label">Id Usuario</label>
        <input type="text" asp-for="IdUsuario" class="form-control" placeholder="Digite o IdUsuario do acompanhamento">
    </div>

    <button type="submit" class="btn btn-primary">Adicionar</button>
    <a class="btn btn-secondary" asp-controller="Acompanhamento" asp-action="Index" role="button">Voltar</a>
</form>