@model DocumentacaoModel;

@{
    ViewData["Title"] = "Editar Documentacao";
}

<div class="text-center">
    <h1>Editar Documentacao</h1>
</div>
    
<form asp-controller="Documentacao" asp-action="Alterar" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label for="TituloLink" class="form-label">TituloLink</label>
        <input type="text" asp-for="TituloLink" class="form-control" placeholder="Digite a TituloLink do documentacao">
        @Html.ValidationMessageFor(x => x.TituloLink)
    </div>

    <div class="mb-3">
        <label for="IdUsuario" class="form-label">Id Usuario</label>
        <input type="text" asp-for="IdUsuario" class="form-control" placeholder="Digite o IdUsuario do documentacao">
    </div>

    <button type="submit" class="btn btn-primary">Alterar</button>
    <a class="btn btn-secondary" asp-controller="Documentacao" asp-action="Index" role="button">Voltar</a>
</form>