@{
	ViewData["Title"] = "Página Inicial";
	Layout = "_Layout";
}

<div class="layout-page">
	<div class="container-xxl container-p-y">

		<div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
			<div class="row">
				<a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)" style="margin-left: 1.5%;">
					<i class="bx bx-menu bx-sm"></i>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-7">
				<h6 style="color: #3A3A3A; font-weight: bold;">
					@if (DateTime.Now.Hour < 12)
					{
						<span>Bom dia!</span>
					}
					else if (DateTime.Now.Hour < 17)
					{
						<span>Boa tarde!</span>
					}
					else
					{
						<span>Boa noite!</span>
					}
				</h6>
			</div>
			<div class="col text-end">
				<p style="color: #AFAFAF; font-size: 12px; ">50% dos chamados resolvidos</p>
			</div>
			<div class="col col-lg-2">
				<div class="demo-vertical-spacing" style="margin-top:-7%;">
					<div class="progress" style="height: 8px;">
						<div class="progress-bar"
							 role="progressbar"
							 style="width: 50%"
							 aria-valuenow="50"
							 aria-valuemin="0"
							 aria-valuemax="100"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- Alertas de sucesso ou erro-->
		@if (TempData["MensagemSucesso"] != null)
		{
			<div class="alert alert-success" role="alert">
				@TempData["MensagemSucesso"]
			</div>
		}

		@if (TempData["MensagemErro"] != null)
		{
			<div class="alert alert-danger" role="alert">
				@TempData["MensagemErro"]
			</div>
		}

	</div>

	<!-- Content wrapper -->
	<div class="content-wrapper" style="margin-top:-4%;">
		<!-- Content -->

		<div class="container-xxl flex-grow-1 container-p-y">
			<div class="row">
				<!-- Card 01 -->
				<div class="col-lg-6 mb-4 order-0">
					<div class="card" style="background-image:url('../assets/img/card01-fundo.svg'); background-repeat: no-repeat;  background-size: cover; background-color: #1B5F9D;">
						<div class="d-flex align-items-center row">
							<div class="col-sm-6">
								<div class="card-body" style="color:white; margin-top:-5%;;">
									<span style="font-size: 90px; font-weight: bold; margin-left:5%;">7</span><br>
									<div style="margin-top:-10%;">
										<span style="font-size: 20px; margin-left:5%;">Chamados Abertos</span>
									</div>
								</div>
							</div>
							<div class="col-sm-6 text-center text-sm-left">
								<div class="card-body pb-0 ">
									<img src="../assets/img/card01.svg"
										 alt="View Badge User"
										 style="margin-left:-15%;" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Card 02 -->
				<div class="col-lg-6 mb-4 order-0">
					<div class="card" style="background-image:url('../assets/img/card02-fundo.svg'); background-repeat: no-repeat;  background-size: cover; background-color: #0077B2;">
						<div class="d-flex align-items-center row">
							<div class="col-sm-8">
								<div class="card-body" style="color:white; margin-top:-5%;;">
									<span style="font-size: 90px; font-weight: bold; margin-left:5%;">14</span><br>
									<div style="margin-top:-6%;">
										<span style="font-size: 20px; margin-left:5%;">Chamados Solucionados</span>
									</div>
								</div>
							</div>
							<div class="col-sm-4 text-center text-sm-left">
								<div class="card-body pb-0 ">
									<img src="../assets/img/card02.svg"
										 alt="View Badge User"
										 style="margin-left:-35%; margin-top:8%;" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-12 mb-4 order-0">
					<div class="card">
						<div class="row">
							<div class="col-sm">
								<h5 class="card-header">Meus últimos 10 chamados</h5>
							</div>
							<div class="col-sm text-end" style="margin-top: 2%; margin-right: 3%;">
								<a role='button' asp-controller="Chamado" asp-action="Index" type="button" class="btn rounded-pill btn-primary" style="width: 35%; height: 60%; padding:2px; padding-top:3px; margin-top: -0.5%;">
									<span style="font-size:13px;">
										<b>+</b> &nbsp; Todos os chamados
									</span>
								</a>
							</div>
						</div>
						<div class="table-responsive text-nowrap">
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col"><center>#</center></th>
										<th scope="col">Título</th>
										<th scope="col"><center>Status</center></th>
										<th scope="col"><center>Data de Abertura</center></th>
										<th scope="col"><center>Última Atualização</center></th>
									</tr>
								</thead>
								<tbody class="table-border-bottom-0">
									<tr>
										<td>
											<center>
												<a role="button" asp-route-id="Id" asp-controller="Usuario" asp-action="ApagarConfirmacao">12345</a>
											</center>
										</td>
										<td>Meu computador não liga!</td>
										<td>
											<center>
												<span class="badge bg-label-primary" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 12px;">Primary</span>
											</center>
										</td>
										<td><center>05/06/2022 13:28:05</center></td>
										<td><center>05/06/2022 13:28:05</center></td>
									</tr>
									<tr>
										<td>
											<center>
												<a role="button" asp-route-id="Id" asp-controller="Usuario" asp-action="ApagarConfirmacao">67891</a>
											</center>
										</td>
										<td>Permissão no e-TCEES</td>
										<td>
											<center>
												<span class="badge bg-label-primary" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 12px;">Primary</span>
											</center>
										</td>
										<td><center>05/06/2022 14:18:05</center></td>
										<td><center>05/06/2022 14:58:05</center></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="content-backdrop fade"></div>
		<!-- / Layout page -->
	</div>
</div>
