/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.field-validation-error {
    color: #C8AB43;
    font-size: 12px;
}

.logo-login {
    width: 80%;
    margin-top: 3%;
}

.margin-altura-input {
    margin-top: -5%;
}

.entrar-login {
    margin-top: 1%;
}

#alert-primary {
    border-left: 5px solid #1B5F9D;
}

#alert-primary-titulo {
    font-weight: bold;
    color: #3A3A3A;
}

#alert-primary-conteudo {
    font-size: 14px;
    color: #3A3A3A;
}

.close-alert {
    position: absolute;
    right: -10px;
    top: -15px;
    border-radius: 15px;
    width: 30px;
    height: 31px;
}
