@model CategoriaModel;

@{
	ViewData["Title"] = "[ADM] Gestão de Alertas";
	Layout = "_LayoutAdministrador";
}

<div class="row">
	<div class="col-sm-12">
		<div class="card mb-4">
			<p class="card-header" style="font-weight: bold; color: #1B5F9D; font-size: 16px; margin-bottom:-1%;">Excluir categoria!</p>
			<div class="card-body">
				<p>Você tem certeza que deseja excluir a categoria abaixo?</p>
				<div class="row">
					<div class="row">
						<div class="col-sm">
							<div>
								<label for="Titulo" class="form-label">Título</label>
								<input type="text"
									   class="form-control"
									   id="defaultFormControlInput"
									   placeholder="Título da categoria"
									   aria-describedby="defaultFormControlHelp"
									   asp-for="Nome" disabled/>
							</div>
						</div>
					</div>

					<div class="row" style="margin-top: 2%;">
						<div class="col-sm">
							<div>
								<label for="Titulo" class="form-label">Criação</label>
								<input type="text"
									   class="form-control"
									   id="defaultFormControlInput"
									   placeholder="Título do alerta"
									   aria-describedby="defaultFormControlHelp"
									   asp-for="DataCriacao" disabled/>
							</div>
						</div>
						<div class="col-sm">
							<div>
								<label for="Titulo" class="form-label">Última Atualização</label>
								<input type="text"
									   class="form-control"
									   id="defaultFormControlInput"
									   placeholder=""
									   aria-describedby="defaultFormControlHelp"
									   asp-for="DataAtualizacao" disabled/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm" style="margin-bottom: 3%; margin-left: -1%;">
				<a class="btn btn-danger" role="button" asp-controller="Categoria" asp-action="Apagar" asp-route-id="@Model.Id" style="margin-left:2%;">Confirmar exclusão</a>
				<a class="btn btn-secondary" asp-controller="Categoria" asp-action="Index" role="button">Voltar</a>
			</div>
		</div>
	</div>
</div>