@model CategoriaModel;

@{
	ViewData["Title"] = "[ADM] Gestão de Categorias";
	Layout = "_LayoutAdministrador";
}


<div class="layout-page">
	<div class="container-xxl container-p-y">

		<div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
			<div class="row">
				<a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)" id='menu-toggle'>
					<i class="bx bx-menu bx-sm"></i>
				</a>
			</div>
		</div>
		<form asp-controller="Categoria" asp-action="Alterar" method="post">
			<input type="hidden" asp-for="Id" />
			<div class="row">
				<div class="col-sm-12">
					<div class="card mb-4">
						<p class="card-header">Editar alerta!</p>
						<div class="card-body">
							<div class="row">
								<div class="row">
									<div class="col-sm">
										<div>
											<label for="Nome" class="form-label">Título</label>
											<input type="text"
												   class="form-control"
												   id="defaultFormControlInput"
												   placeholder="Título da categoria"
												   aria-describedby="defaultFormControlHelp"
												   asp-for="Nome" />
										</div>
										@Html.ValidationMessageFor(x => x.Nome)
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm" id="espaco-botoes">
							<button type="submit" class="btn btn-primary" style="margin-left: 2%;">Alterar</button>
							<a class="btn btn-secondary" asp-controller="Categoria" asp-action="Index" role="button">Voltar</a>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>