@model LocalizacaoModel;

@{
	ViewData["Title"] = "[ADM] Gestão de localizações";
	Layout = "_LayoutAdministrador";
}

<form asp-controller="Localizacao" asp-action="Criar" method="post">
	<div class="row">
		<div class="col-sm-12">
			<div class="card mb-4">
				<p class="card-header" style="font-weight: bold; color: #1B5F9D; font-size: 16px; margin-bottom:-1%;">Criar alerta!</p>
				<div class="card-body">
					<div class="row">
						<div class="row">
							<div class="col-sm">
								<div>
									<label for="Descricao" class="form-label">Lugar</label>
									<input
										   type="text"
										   class="form-control"
										   id="defaultFormControlInput"
										   aria-describedby="defaultFormControlHelp"
										   asp-for="Lugar">
								</div>
								@Html.ValidationMessageFor(x => x.Lugar)
							</div>
						</div>
						<input type="hidden" asp-for="IdUsuario" value="1" />
					</div>
				</div>
				<div class="col-sm" style="margin-bottom: 3%; margin-left: -1%;">
					<button type="submit" class="btn btn-primary" style="margin-left: 2%;">Criar</button>
					<a class="btn btn-secondary" asp-controller="Localizacao" asp-action="Index" role="button">Voltar</a>
				</div>
			</div>
		</div>
	</div>
</form>