@model ContatoModel;

@{
    ViewData["Title"] = "[ADM] Gestão de Contatos";
    Layout = "_LayoutAdministrador";
}
    
<form asp-controller="Contato" asp-action="Criar" method="post">
	<div class="row">
		<div class="col-sm-12">
			<div class="card mb-4">
				<p class="card-header" style="font-weight: bold; color: #1B5F9D; font-size: 16px; margin-bottom:-1%;">Criar alerta!</p>
				<div class="card-body">
					<div class="row">
						<div class="row">
							<div class="col-sm">
								<div>
									<label for="Descricao" class="form-label">Título</label>
									<input type="text"
										   class="form-control"
										   id="defaultFormControlInput"
										   placeholder="Título da categoria"
										   aria-describedby="defaultFormControlHelp"
										   asp-for="Descricao" />
								</div>
								@Html.ValidationMessageFor(x => x.Descricao)
							</div>
						</div>
						<div class="row" style="margin-top:2%;">
							<div class="col-sm">
								<div>
									<label for="IdTipoContato" class="form-label">Tipo de Contato</label>
									<input type="text"
										   class="form-control"
										   id="defaultFormControlInput"
										   placeholder="Título da categoria"
										   aria-describedby="defaultFormControlHelp"
										   asp-for="IdTipoContato" />
								</div>
							</div>
						</div>
						<input type="hidden" value="1" asp-for="IdUsuario" />
					</div>
				</div>
				<div class="col-sm" style="margin-bottom: 3%; margin-left: -1%;">
					<button type="submit" class="btn btn-primary" style="margin-left: 2%;">Criar</button>
					<a class="btn btn-secondary" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
				</div>
			</div>
		</div>
	</div>
</form>