@model AnexoModel;

@{
    ViewData["Title"] = "Confirmação para excluir o anexo";
}

<div class="text-center">
    <h1>Você tem certeza que deseja excluir o anexo abaixo?</h1>
    <p>@Model.Arquivo</p>
</div>

<a class="btn btn-primary" role="button" asp-controller="Anexo" asp-action="Index">Cancelar</a>
<a class="btn btn-danger" role="button" asp-controller="Anexo" asp-action="Apagar" asp-route-id="@Model.Id">Confirmar</a>