@model TipoContatoModel;

@{
    ViewData["Title"] = "Editar TipoContato";
}

<div class="text-center">
    <h1>Editar TipoContato</h1>
</div>
    
<form asp-controller="TipoContato" asp-action="Alterar" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label for="Icone" class="form-label">Icone</label>
        <input type="text" asp-for="Icone" class="form-control" placeholder="Digite a Icone do tipoContato">
        @Html.ValidationMessageFor(x => x.Icone)
    </div>

    <div class="mb-3">
        <label for="Descricao" class="form-label">Descrição</label>
        <input type="text" asp-for="Descricao" class="form-control" placeholder="Digite a descrição do tipoContato">
        @Html.ValidationMessageFor(x => x.Descricao)
    </div>

    <button type="submit" class="btn btn-primary">Alterar</button>
    <a class="btn btn-secondary" asp-controller="TipoContato" asp-action="Index" role="button">Voltar</a>
</form>